/* App.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
    border: 1px solid #fff;
    padding: 6px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    color: #007bff;
}
@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .image-animation {
    animation: moveUpDown 2s infinite;
  }
  